.order_header_wrap {
    padding: 21px 20px 14px;
    display: flex;
    align-items: center;
    max-width: 390px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .order_header {
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }
  .order_edit button {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #31b545;;
  }
  
  .order_container{
    max-width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .totalAmount__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
    max-width: 390px;
  }