.totalAmount__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin: 5px 15px;
    max-width: 390px;
  }
  .heading{
    text-align: center;
    max-width: 300px;
  }

  body{
    background-color: rgba(70, 101, 184, 0.685);
    color: #fff;
  }
  .products__container{
    max-width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  