:root {
    --primary-color: #9242c4;
  }
  
  .btn {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 60px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    cursor: pointer;
  }
  
  .btn.add {
    background-color: var(--primary-color);
  }
  
  .btn.remove {
    background-color:#e71111e4;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn.add:hover {
    background-color: #8232b3;;
  }
  
  .btn.add:active {
    background-color: #5e1889;;
  }
  
  .btn.remove:hover {
    background-color:#fe2525
  }
  .btn.remove:active {
    background-color: #c91515
  }