/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
} */
body{
  background-color: rgba(194, 53, 199, 0.5);
  color: #fff;
}
.products__container{
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
  max-width: 390px;
}
